tensorflow==2.7.2
djangorestframework==3.11.0
Django==3.2.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
tensorboard==2.1.1
tensorflow==2.7.2
tensorflow-cpu==2.1.0
tensorflow-estimator==2.1.0
tensorflow-tensorboard==1.5.1
pandas==1.0.3
cv2

